.background_color {
    background-color: grey;
    margin: 0;
    height: 100vh;
}
/* Home Page */
/* Top-left text region - typically 1-2 words */
.navbar {
    display: block;
    color: white;
    height: 100px;
}

/* Text on navbar */
.navbar a {
    text-decoration: none;
    color: white;
    margin: 10px;
}
.navbar a:hover {
    color: grey;
}


/* About */
.a_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; 
    margin:100px;
}
.carousel_container {
    display: inline-block;
}
.carousel-item {
    margin: 20px auto;
}

.carousel-item img {
    border-radius: 50px;
    width: 400px;
    height: 500px;
    object-fit: cover;
}

.bio_container {
    width: 80%;
    margin: 20px auto;
    border: 2px solid #212529;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.pw_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
embed {
    width:80%;
    height: 80vh;
    border: 2px solid black;
    border-radius: 10px;
}
a.pw_btn {
    color: white;
    border-color: white;
}
a.pw_btn:hover {
    background-color: grey;
    border-color: black;
    color: white;
}

/* Projects */
.project_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
    justify-content: space-evenly;
}

.project {
    display: block;
    text-align: center;
    justify-content: center;
    border: 2px solid #212529;
    width: 400px;
    height: 300 auto;
    padding: 10px;
    margin: 10px;
    color:white;
    background-color: #212529;
    border-radius: 5px;
}
.project a {
    text-decoration: none;
    margin: 10px;
    width: 300px;
}
a.p_btn {
    color: white;
    border-color: white;
}

a.p_btn:hover {
    border:#212529;
}

/* Form */
.form_container {
    color: white;
    background-color: #212529;
    border: 2px solid black;
    display: flex;
    align-items: center;
    width: 80%;
    padding: 20px;
    margin: 20px auto;
    justify-content: center;
    border-radius: 5px;
}
form {
    align-items: center;
    width:95%
}

/* Contact Form */
form 
.btn{
    color: white;
    border-color: white;
    background-color: #212529;
}

form 
.btn:hover {
    border-color: white;
    background-color: white;
    color: black;
}
